.dashboard-main-wrapper {
    padding-top: 2rem;
}

.nav-left-sidebar {
    top: 0;
}

label.form-info {
    margin-top: 10px;
}

label.form-info.h3 {
    font-size: 1.75rem;
}

.form .btn {
    padding-bottom: 6px;
    padding-top: 6px;
    font-size: 1rem;
}

.form .btn:hover {
    cursor: pointer;
}

.main-btn {
    font-size: 1.2rem;
}

.form {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

.form.text-dark, .form.text-dark label {
    color: rgb(52, 58, 64);
}

.form input {
    font-size: 1rem;
}

.form .form-control {
    color: rgb(73, 80, 87);
}

.form textarea {
    font-size: 1rem;
}

.dashboard-wrapper {
    min-height: 750px !important;
}

.sidebar-dark.nav-left-sidebar .submenu .nav .nav-item .nav-link.active {
    color: #fff;
    border-radius: 2px;
    background-color: #242849;
}

.is-invalid ~ .invalid-feedback {
    display: block;
}

.invalid-feedback * {
    color: inherit !important;
}

.no-wrap {
    white-space: nowrap;
}

.fz-1 {
    font-size: 1rem;
}

body.auth {
    height: 100vh;
}

body.auth.text-light form.auth input {
    color: #333;
}

form.auth.user-form .invalid-feedback {
    margin-bottom: -.8rem
}

table {
    font-size: 1rem;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #f9fcf0;
}
